<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <span class="top">Runner</span>
      <span class="bottom">Deliveries</span>
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        \\\
      </a>

      <div class="trigger">
          <a class="page-link" href="{{  site.baseurl }}/">Home</a>
          <a class="page-link" href="{{  site.baseurl }}/order">Order</a>
          <a class="page-link" href="{{  site.baseurl }}/contact">Contact</a>
          <a class="page-link" href="{{  site.baseurl }}/faq">FAQ</a>
          <a class="login" href="{{  site.baseurl }}/login">login</a>

      </div>
    </nav>

  </div>

  <div class="divider"></div>

</header>
