.login {
	width:100%;
	max-width:$content-width;
	position: relative;
	@include margin($small-space-unit auto);
	@include padding($large-space-unit*2 0);
	

	.grid {
		width: 100%;
		max-width: 400px;
		@include margin($large-space-unit auto);
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		z-index: 2;
	}
	img, h2, h3, p, .input-reg, fieldset{
		vertical-align: top;
		width:95%;
		max-width: 400px;
		display: block;
		@include margin($small-space-unit auto 0);
		position: relative;
		overflow: hidden;
		@include padding($large-space-unit);
		@media screen and (min-width:$tablet) {
			@include margin($small-space-unit 0 0);
		}
	}

	.button {
		float: right;
		@include margin($large-space-unit 5%);
		@include padding($small-space-unit $large-space-unit);
		clear:left;
	}

	.input-reg, {
		@include margin($large-space-unit 0);
		@include padding($small-space-unit*1.5);
		border: solid 2px $secondcolor;
    	border-radius:$small-space-unit/2;
		box-shadow:3px 3px 6px $shadowcolor;
        font-family: $font;
        font-weight: $med;
        @include font(1);
        line-height:1.1em;
        opacity: .5;
        @include transition(opacity 0.3s 0s linear);


        &:focus {
            opacity: 1;
            @include transition(opacity 0.3s 0s linear);
        }
    }
    ::-webkit-input-placeholder {
       color: $secondcolor;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $secondcolor;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $secondcolor;  
    }

    :-ms-input-placeholder {  
       color: $secondcolor;  
    }
	h2 {
		@include font(2.7);
		line-height: 1.2em;
		font-weight: $bold;
		text-align: left;
		@include margin(0 5%);
		@include padding(0);
		overflow: hidden;
		position: relative;

		// @media screen and (min-width:$tablet) {
		// 	@include margin($large-space-unit * 3 0 0 5%);
		// }
		// @media screen and (min-width:$desktop) {
		// 	@include margin($large-space-unit * 4 0 0);
		// }
	}


	h3 {
		@include font(1.7);
		line-height: 0.9em;
		font-weight: $demi;
		min-height: 2em;
		display: block;
		@include margin($large-space-unit * 2 0 $small-space-unit);
	}
	
	p {
		@include font(1.1);
		line-height: 1.2em;
		width: 95%;
		max-width: 350px;
		@include margin(0);
		@media screen and (min-width:$tablet) {
			@include margin($small-space-unit 0 0);
		}
	}
	
}